.Section:not(.Section .Section) {
  width: 100%;
}

/* Small screens up to 400px */
@media (min-width: 340px) {
  .Section:not(.Section .Section) {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
  }
}

/* Tablets and above */
@media (min-width: 768px) {
  .Section:not(.Section .Section) {
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    width: 100%;
  }
}

.Section-inner {
  margin-inline-start: auto;
  margin-inline-end: auto;
  height: 100%;
  width: 100%;
}

.Section .Section .Section-inner {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
